
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    padding:15px;
    margin:15px;
}
.box{
    border:1px solid grey;
    width:33%;
    height: 150px;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.list{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
}

.center-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-box form{
    border:1px solid black;
    border-radius: 15px;
    box-shadow: 15px 15px 10px gray;
}

.center-box form > div{
    margin:15px;
}

.center-box form > div > input{
    margin:5px;
}
.error-input input{
    border-color:red;
}

.error{
    color:red;
    font-size:12px;
}
